{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Responsáveis{% endblock %}

{% block main %}
    <!--Alert para confirmação se realmente deseja apagar registro-->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body confirm-delete">
                    Certeza que deseja excluir o lançamento?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteButtonModal">Deletar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-transparent">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-6">{{ form.nome|bootstrap }}</div>
                <div class="col-3 mt-4 pt-2">
                    <button type="submit" class="btn btn-primary">{{ nome_botao }}</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <table class="table table-sm mt-3">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-left">Nome</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in relatorio %}
                <tr>
                    <td class="text-center">{{ item.id }}</td>
                    <td class="text-left"><a href="{% url 'responsavel_update' item.id %}">{{ item.nome }}</a></td>
                    <td class="text-center"><a href="{% url 'delete_responsavel' item.id %}" class="confirm-delete text-danger" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{item.id}}"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
